@mixin container {
    width: 1200px;
    margin: 0px auto;
}

@mixin header-footer-style {
    background: $header-footer-bg;
    color: $header-footer-text;
    text-align: center;
}
 

@mixin theme-box {
    width: 6 * col-width();
}

@mixin my-border-radius ($radius: 15px){
    border-radius: $radius;

}

@mixin button {
    text-decoration: none;
    background: $header-footer-bg;
    color: white;
    padding: 10px 15px;
    border: $button-border;
    @include my-border-radius();
}